.ordTile{
  text-align: center;
}
.ordTitleBox{
  --border-size: 3px;
  border-bottom: var(--border-size) solid var(--acc);
  padding-bottom: calc(2 * var(--border-size));
  margin-bottom: calc(2 * var(--border-size));
}
.ordTitleBox *{
  margin: 0;
}