input, select, textarea{
  background: none;
  border: none;
  border-bottom: 1px solid var(--fg);
  resize: vertical;
}

input:focus, select:focus, textarea:focus{
  box-shadow: 0 0 2em var(--acc);
}

label{
  font-size: 0.8em;
  font-style: italic;
  opacity: 0.7;
}

.input-container{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}