input, select, textarea{
  background: none;
  color: var(--fg);
  font-family: BaseFont;
  font-size: 1.1em;
  border: none;
  border-bottom: 1px solid var(--fg);
  resize: vertical;
  text-align: center;
}
textarea{
  font-size: 0.9em;
  text-align: left;
  font-family: monospace;
}
button{
  background-color: var(--acc);
  width: 100%;
  padding: 0.5em 0.75em;
  font-family: HeaderFont;
  font-weight: bold;
  font-size: 1.2em;
  border-top: 0.5em double var(--bg1);
  border-bottom: 0.5em double var(--bg1);
  border-left: none; border-right: none;
}

input:focus, select:focus, textarea:focus{
  box-shadow: 0 0 2em var(--acc);
}

label{
  font-size: 0.8em;
  font-style: italic;
  opacity: 0.7;
}

.input-container{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}