.flex-right{
  gap: 0.5em;
}
.flex-right a::first-letter{
  font-weight: bold;
  color: var(--acc);
}

#lyrics, #sheetMusic{
  width: 40vw; height: 30vh;
}

#sheet-container svg{
  background-color: white;
}